body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
/* стили для элемента body */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }

  /* дополнительные стили для этого примера */
  .slider__items {
    counter-reset: slide;
  }

  .slider__item {
    counter-increment: slide;
  }

  .slider__item>div::before {
    content: counter(slide);
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-style: italic;
    font-size: 32px;
    font-weight: bold;
  }
h1, h2, h3, h4, h5, h6 {
    
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;

    border: 0;
    background-color: #e5e5e5;
}


/* Page */
.page {
    overflow: hidden;
}


/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}



/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 820px;
    position: relative;

    background: url("../images/header.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: #fff;
}

.intro__suptitle {
    margin-bottom: 20px;

    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #fff;
}


/* Header */
.header {
    width: 100%;
    padding-top: 10px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header.fixed {
    padding: 10px 0;

    background-color: #b1ecee;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: #eb8b8d;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
   
    width: 70px;
    
}


/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #fce38a;
}


/* Nav toggle */
.nav-toggle {
    width: 30px;
    padding: 10px 0;
    display: none;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
}

.nav-toggle:focus {
    outline: 0;
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;
}

.nav-toggle__item:before {
    top: -8px;
}

.nav-toggle__item:after {
    bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0)
}

.nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
}

.header2 {
    width: 100%;
    padding-top: 10px;
background-color: #b1ecee;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}



.header2.active {
    background-color: #b44b4b;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}


/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: rgb(0, 0, 0);
    text-decoration: none;

    transition: color .1s linear;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #3e8183;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav_link:hover {
    color: #3e8183;
}

.nav_link:hover:after,
.nav_link.active:after {
    opacity: 1;
}

.nav_link.active {
    color: #3e8183;
}


/* Nav toggle */
.nav-toggle {
    width: 30px;
    padding: 10px 0;
    display: none;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
}

.nav-toggle:focus {
    outline: 0;
}

.nav-toggle_item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    transition: background .2s linear;
}

.nav-toggle.active .nav-toggle_item {
    background: none;
}

.nav-toggle_item:before,
.nav-toggle_item:after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;
}

.nav-toggle_item:before {
    top: -8px;
}

.nav-toggle_item:after {
    bottom: -8px;
}

.nav-toggle.active .nav-toggle_item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0)
}

.nav-toggle.active .nav-toggle_item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
}
/* Button */

/* слайдер 1 */

#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 560px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url('../images/prev.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -34px; /*сдвиг влево*/
	display: block;
	height: 29px;
	width: 28px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('../images/next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -34px 0 0; /*сдвиг вправо*/
	display: block;
	height: 28px;
	width: 28px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 17% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}

/* слайдер2 */

#slider2 { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
}

#slider2{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides2 article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides2 .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow2 { /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop2:checked ~ #slider2{ /*размер всего слайдера*/
	max-width: 560px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch6:checked ~ #controls2 label:nth-child(10), 
#switch7:checked ~ #controls2 label:nth-child(6),
#switch8:checked ~ #controls2 label:nth-child(7),
#switch9:checked ~ #controls2 label:nth-child(8),
#switch10:checked ~ #controls2 label:nth-child(9){
	background: url('../images/prev.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -34px; /*сдвиг влево*/
	display: block;
	height: 28px;
	width: 28px;
}

/*настройка переключения и положения для правой стрелки*/
#switch6:checked ~ #controls2 label:nth-child(7), 
#switch7:checked ~ #controls2 label:nth-child(8),
#switch8:checked ~ #controls2 label:nth-child(9),
#switch9:checked ~ #controls2 label:nth-child(10),
#switch10:checked ~ #controls2 label:nth-child(6){
	background: url('../images/next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -34px 0 0; /*сдвиг вправо*/
	display: block;
	height: 28px;
	width: 28px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch6:checked ~ #slides2 .image{
	margin-left: 0;
}

#switch7:checked ~ #slides2 .image{
	margin-left: -100%;
}

#switch8:checked ~ #slides2 .image{
	margin-left: -200%;
}

#switch9:checked ~ #slides2 .image{
	margin-left: -300%;
}

#switch10:checked ~ #slides2 .image{
	margin-left: -400%;
}

#controls2 { /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active2 label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active2{ /*расположение блока с переключателями*/
	margin: 17% 0 0;
	text-align: center;
}

#active2 label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch6:checked ~ #active2 label:nth-child(6),
#switch7:checked ~ #active2 label:nth-child(7),
#switch8:checked ~ #active2 label:nth-child(8),
#switch9:checked ~ #active2 label:nth-child(9),
#switch10:checked ~ #active2 label:nth-child(10){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides2 .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls2 label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls2 label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}

/* слайдер 3 */



#slider3 { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
}

#slider3{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides3 article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides3 .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow3 { /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop3:checked ~ #slider3{ /*размер всего слайдера*/
	max-width: 560px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch11:checked ~ #controls3 label:nth-child(15), 
#switch12:checked ~ #controls3 label:nth-child(11),
#switch13:checked ~ #controls3 label:nth-child(12),
#switch14:checked ~ #controls3 label:nth-child(13),
#switch15:checked ~ #controls3 label:nth-child(14){
	background: url('../images/prev.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -34px; /*сдвиг влево*/
	display: block;
	height: 28px;
	width: 28px;
}

/*настройка переключения и положения для правой стрелки*/
#switch11:checked ~ #controls3 label:nth-child(12), 
#switch12:checked ~ #controls3 label:nth-child(13),
#switch13:checked ~ #controls3 label:nth-child(14),
#switch14:checked ~ #controls3 label:nth-child(15),
#switch15:checked ~ #controls3 label:nth-child(11){
	background: url('../images/next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -34px 0 0; /*сдвиг вправо*/
	display: block;
	height: 28px;
	width: 28px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch11:checked ~ #slides3 .image{
	margin-left: 0;
}

#switch12:checked ~ #slides3 .image{
	margin-left: -100%;
}

#switch13:checked ~ #slides3 .image{
	margin-left: -200%;
}

#switch14:checked ~ #slides3 .image{
	margin-left: -300%;
}

#switch15:checked ~ #slides3 .image{
	margin-left: -400%;
}

#controls3 { /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active3 label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active3{ /*расположение блока с переключателями*/
	margin: 17% 0 0;
	text-align: center;
}

#active3 label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch11:checked ~ #active3 label:nth-child(11),
#switch12:checked ~ #active3 label:nth-child(12),
#switch13:checked ~ #active3 label:nth-child(13),
#switch14:checked ~ #active3 label:nth-child(14),
#switch15:checked ~ #active3 label:nth-child(15){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides3 .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls3 label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls3 label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}

/* слайдер 4 */

#slider4 { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
}

#slider4{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides4 article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides4 .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow4 { /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop4:checked ~ #slider4{ /*размер всего слайдера*/
	max-width: 560px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch16:checked ~ #controls4 label:nth-child(20), 
#switch17:checked ~ #controls4 label:nth-child(16),
#switch18:checked ~ #controls4 label:nth-child(17),
#switch19:checked ~ #controls4 label:nth-child(18),
#switch20:checked ~#controls4 label:nth-child(19){
	background: url('../images/prev.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -34px; /*сдвиг влево*/
	display: block;
	height: 28px;
	width: 28px;
}

/*настройка переключения и положения для правой стрелки*/
#switch16:checked ~ #controls4 label:nth-child(17), 
#switch17:checked ~ #controls4 label:nth-child(18),
#switch18:checked ~ #controls4 label:nth-child(19),
#switch19:checked ~ #controls4 label:nth-child(20),
#switch20:checked ~ #controls4 label:nth-child(16){
	background: url('../images/next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -34px 0 0; /*сдвиг вправо*/
	display: block;
	height: 28px;
	width: 28px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch16:checked ~ #slides4 .image{
	margin-left: 0;
}

#switch17:checked ~ #slides4 .image{
	margin-left: -100%;
}

#switch18:checked ~ #slides4 .image{
	margin-left: -200%;
}

#switch19:checked ~ #slides4 .image{
	margin-left: -300%;
}

#switch20:checked ~ #slides4 .image{
	margin-left: -400%;
}

#controls4 { /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active4 label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active4{ /*расположение блока с переключателями*/
	margin: 17% 0 0;
	text-align: center;
}

#active4 label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch16:checked ~ #active4 label:nth-child(16),
#switch17:checked ~ #active4 label:nth-child(17),
#switch18:checked ~ #active4 label:nth-child(18),
#switch19:checked ~ #active4 label:nth-child(19),
#switch20:checked ~ #active4 label:nth-child(20){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides4 .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls4 label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls4 label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}

/* слайдер 5 */

#slider5 { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
}

#slider5{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides5 article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides5 .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow5 { /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop5:checked ~ #slider5{ /*размер всего слайдера*/
	max-width: 560px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch21:checked ~ #controls5 label:nth-child(25), 
#switch22:checked ~ #controls5 label:nth-child(21),
#switch23:checked ~ #controls5 label:nth-child(22),
#switch24:checked ~ #controls5 label:nth-child(23),
#switch25:checked ~ #controls5 label:nth-child(24){
	background: url('../images/prev.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -34px; /*сдвиг влево*/
	display: block;
	height: 28px;
	width: 28px;
}

/*настройка переключения и положения для правой стрелки*/
#switch21:checked ~ #controls5 label:nth-child(22), 
#switch22:checked ~ #controls5 label:nth-child(23),
#switch23:checked ~ #controls5 label:nth-child(24),
#switch24:checked ~ #controls5 label:nth-child(25),
#switch25:checked ~ #controls5 label:nth-child(21){
	background: url('../images/next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -34px 0 0; /*сдвиг вправо*/
	display: block;
	height: 28px;
	width: 28px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch21:checked ~ #slides5 .image{
	margin-left: 0;
}

#switch22:checked ~ #slides5 .image{
	margin-left: -100%;
}

#switch23:checked ~ #slides5 .image{
	margin-left: -200%;
}

#switch24:checked ~ #slides5 .image{
	margin-left: -300%;
}

#switch25:checked ~ #slides5 .image{
	margin-left: -400%;
}

#controls5 { /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active5 label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active5{ /*расположение блока с переключателями*/
	margin: 17% 0 0;
	text-align: center;
}

#active5 label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch21:checked ~ #active4 label:nth-child(21),
#switch22:checked ~ #active4 label:nth-child(22),
#switch23:checked ~ #active4 label:nth-child(23),
#switch24:checked ~ #active4 label:nth-child(24),
#switch25:checked ~ #active4 label:nth-child(25){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides5 .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls5 label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls5 label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}

/* слайдер 6 */

#slider6 { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
}

#slider6{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides6 article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides6 .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow6 { /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop5:checked ~ #slider6{ /*размер всего слайдера*/
	max-width: 560px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch26:checked ~ #controls6 label:nth-child(30), 
#switch27:checked ~ #controls6 label:nth-child(26),
#switch28:checked ~ #controls6 label:nth-child(27),
#switch29:checked ~ #controls6 label:nth-child(28),
#switch30:checked ~ #controls6 label:nth-child(29){
	background: url('../images/prev.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -34px; /*сдвиг влево*/
	display: block;
	height: 28px;
	width: 28px;
}

/*настройка переключения и положения для правой стрелки*/
#switch26:checked ~ #controls6 label:nth-child(27), 
#switch27:checked ~ #controls6 label:nth-child(28),
#switch28:checked ~ #controls6 label:nth-child(29),
#switch29:checked ~ #controls6 label:nth-child(30),
#switch30:checked ~ #controls6 label:nth-child(26){
	background: url('../images/next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -34px 0 0; /*сдвиг вправо*/
	display: block;
	height: 28px;
	width: 28px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch26:checked ~ #slides6 .image{
	margin-left: 0;
}

#switch27:checked ~ #slides6 .image{
	margin-left: -100%;
}

#switch28:checked ~ #slides6 .image{
	margin-left: -200%;
}

#switch29:checked ~ #slides6.image{
	margin-left: -300%;
}

#switch30:checked ~ #slides6 .image{
	margin-left: -400%;
}

#controls6 { /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active6 label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active6{ /*расположение блока с переключателями*/
	margin: 17% 0 0;
	text-align: center;
}

#active6 label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch26:checked ~ #active5 label:nth-child(26),
#switch27:checked ~ #active5 label:nth-child(27),
#switch28:checked ~ #active5 label:nth-child(28),
#switch29:checked ~ #active5 label:nth-child(29),
#switch30:checked ~ #active5 label:nth-child(30){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides6 .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls6 label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls6 label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}

/* слайдер 7 */

#slider7 { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
}

#slider7{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides7 article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides7 .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow7 { /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop5:checked ~ #slider7{ /*размер всего слайдера*/
	max-width: 560px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch31:checked ~ #controls7  label:nth-child(35), 
#switch32:checked ~ #controls7 label:nth-child(31),
#switch33:checked ~ #controls7 label:nth-child(32),
#switch34:checked ~ #controls7 label:nth-child(33),
#switch35:checked ~ #controls7 label:nth-child(34){
	background: url('../images/prev.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -34px; /*сдвиг влево*/
	display: block;
	height: 28px;
	width: 28px;
}

/*настройка переключения и положения для правой стрелки*/
#switch31:checked ~ #controls7 label:nth-child(32), 
#switch32:checked ~ #controls7 label:nth-child(33),
#switch33:checked ~ #controls7 label:nth-child(34),
#switch34:checked ~ #controls7 label:nth-child(35),
#switch35:checked ~ #controls7 label:nth-child(31){
	background: url('../images/next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -34px 0 0; /*сдвиг вправо*/
	display: block;
	height: 28px;
	width: 28px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch31:checked ~ #slides7 .image{
	margin-left: 0;
}

#switch32:checked ~ #slides7 .image{
	margin-left: -100%;
}

#switch33:checked ~ #slides7 .image{
	margin-left: -200%;
}

#switch34:checked ~ #slides7.image{
	margin-left: -300%;
}

#switch35:checked ~ #slides7 .image{
	margin-left: -400%;
}

#controls7 { /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active7 label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active7{ /*расположение блока с переключателями*/
	margin: 17% 0 0;
	text-align: center;
}

#active7 label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch31:checked ~ #active7 label:nth-child(31),
#switch32:checked ~ #active7 label:nth-child(32),
#switch33:checked ~ #active7 label:nth-child(33),
#switch34:checked ~ #active7 label:nth-child(34),
#switch35:checked ~ #active7 label:nth-child(35){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides7 .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls7 label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls7 label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}


.button2{
    color: rgb(0, 0, 0);
    font-size: 18px;
    background: #b1ecee;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    transition: 0.2s;     
}
.button2:hover{
     background: rgb(26, 66, 82);
}



/* Slider */
.slider {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    width: 23%;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid #fff;
    opacity: .7;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.slider__item.active {
    opacity: 1;
}


.yrta{
    margin: 5px;
}
.slider__item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}


/* Section */
.section {
    padding: 30px 0;

}

.section--devices {
    margin-bottom: 40px;
    padding-bottom: 0;

    background: url("../images/devices-bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.section--gray {
    background-color: #f8f8f8;
}

.section--clients {
    background: #f5f5f5 url("../images/clients-bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.section--map {
    padding: 40px 0;
    background: #e6e6e6 url("../images/map-bg.jpg") center no-repeat / cover;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
  
    text-align: center;
}

.section__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin: 55px 20px 3px 20px;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 20px auto;

    background-color: #c7e5fa;
}

.section__text {
    font-size: 15px;
    color: #999;
    text-align: justify;
}



/* Card */
.card {
    margin: 80px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__item {
    width: 33.33333%;
    padding: 0 15px;
}

.card__inner {
    position: relative;
    background-color: #95e1d3;
}

.card__inner:hover .card__img {
    transform: translate3d(-10px, -10px, 0);
}

.card__inner:hover .card__img img {
    opacity: .1;
}

.card__inner:hover .card__text {
    opacity: 1;
}

.card__img {
    background: linear-gradient(to bottom, #defbfd, #5fcdd4);

    transition: transform .2s linear;
}

.card__img img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;
}

.card__text {
    width: 100%;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}

.card__info {
    margin-top: 20px;

    text-align: center;
}

.card__name {
    margin-bottom: 5px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.card__prof {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}

.cafe{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.cafe__item {
    width: 100%;
    padding: 0 15px;
    text-align: center;

}

.cafe__img {
    display: block;
    max-width: 100%;
    height: auto;
    text-align: center;
    align-items: ;
}

/* Statistics */
.statistics {
    background-color: #95e1d3;
}

.stat {
    display: flex;
    flex-wrap: wrap;
}

.stat__item {
    flex: 1 1 0;
    padding: 70px 25px;

    border-left: 1px solid #b5eae0;

    text-align: center;
    color: #fff;
}

.stat__item:last-child {
    border-right: 1px solid #b5eae0;
}

.stat__count {
    margin-bottom: 10px;

    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}


/* Services */

.services {
    display: flex;
    flex-wrap: wrap;
}

.services__item {
    width: 33.33333%;
    padding: 0 35px 40px 85px;
    position: relative;
    margin-bottom: 40px;
}

.services__item--border {
    border-bottom: 1px solid #e5e5e5;
}

.services__icon {
    position: absolute;
    top: 0;
    left: 8px;
    z-index: 1;
    width: 70px;
    height: 70px;
}

.services__title {
    margin-bottom: 10px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.services__text {
    font-size: 15px;
    color: #999;
}

/* Devices */

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices__item {
    display: block;
    max-width: 100%;
    height: auto;
}

.devices__item--iphone {
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
}


/* юрты */
.yrta2 {
    display: flex;
    flex-wrap: wrap;
    margin:  15px;
}

.maps__item {
    width: 50%;
    padding: 0 20px;
  
}

.wedo__img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Accordion */

.accordion__item {
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
}

.accordion__item.active .accordion__content {
    display: block;
}

.accordion__item.active .accordion__header {
    border-bottom-color: #e5e5e5;
}

.accordion__item.active .accordion__header:after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}

.accordion__header {
    padding: 15px 20px 15px 65px;
    position: relative;

    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.accordion__header:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%) rotate(135deg);
}

.accordion__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;

    transform: translateY(-50%);
}

.accordion__content {
    padding: 15px 20px;
    display: none;

    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

.accordion__title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}



/* Reviews */
.reviews {
    position: relative;
}

.reviews .slick-slider {
    padding: 0 110px;
}

.reviews__item {
    min-height: 210px;
    padding-left: 255px;
    position: relative;
}

.reviews__photo {
    display: block;
    width: 210px;
    height: 210px;

    border: 2px solid #95e1d3;
    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews__text {
    margin-bottom: 15px;

    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}

.reviews__author {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.reviews__author:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;

    background-color: #f38181;
}

.slick-arrow {
    display: block;
    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.slick-arrow:focus {
    outline: 0;
}

.slick-arrow:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
}

.slick-prev {
    left: 0;
    transform: rotate(-45deg);
}

.reviews__btn--next,
.slick-next {
    right: 0;
    transform: rotate(135deg);
}


/* Social */
.social {
    display: flex;
    justify-content: center;
}

.social__item {
    width: 55px;
    height: 55px;
    padding: 12px 10px;

    background-color: #fce38a;
    border-right: 1px solid #f38181;

    font-size: 30px;
    text-decoration: none;
    color: #f38181;
    line-height: 1;

    transition: background .1s linear, color .1s linear;
}

.social__item:last-child {
    border-right: 0;
}

.social__item:hover {
    color: #fff;
    background-color: #f38181;
}


/* Logos */
.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
}

.logos__item {
    padding: 0 15px;
}

.logos__img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Works */
.works {
    display: flex;
}

.works__col {
    flex: 1 1 0;
}

.works__item {
    position: relative;

    background: linear-gradient(to bottom, #81ebf3, #b5dfdd);
}

.works__item:hover .works__image {
    opacity: .1;
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__image {
    display: block;
    max-width: 100%;
    height: auto;

    transition: opacity .2s linear;
}

.works__image2 {
    display: block;
    max-width: 100%;
    height: 450px;
width: 350px;
    transition: opacity .2s linear;
}

.works__info {
    width: 100%;
    padding: 0 15px;

    text-align: center;
    color: #fff;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}

.works__title {
    margin-bottom: 5px;

    font-size: 14px;
    text-transform: uppercase;
}

.works__text {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}



/* Clients */
.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.clients__item {
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
    margin-bottom: 60px;
}

.clients__photo {
    width: 110px;
    height: 110px;

    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
}

.clients__name {
    margin-bottom: 5px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.clients__prof {
    font-size: 15px;
    color: #333;
    font-style: italic;
    font-weight: 300;
}

.clients__text {
    font-size: 15px;
    color: #999;
}

.clients__text:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px 0;

    background-color: #f38181;
}





/* Map */

.map {
    text-align: center;
}

.map__title {
    font-size: 24px;
    color: #f38181;
    font-weight: 700;
    text-transform: uppercase;
}

.map__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px auto 0;

    background-color: #f38181;
}

.map__title a {
    color: inherit;
    text-decoration: none;
}

.map__title a:hover {
    text-decoration: underline;
}



/* Footer */
.footer {
    padding-top: 35px;

    background-color: #f8f8f8;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
    padding-bottom: 35px;
}

.footer__col {

    text-align: center;
}

.footer__col--first {
    width: 100%;
}






.footer__text {
    margin-bottom: 30px;

    font-size: 15px;
    color: #999;
}

.footer__social {
    margin-bottom: 25px;
}

.footer__social-header {
    padding-bottom: 15px;

    font-size: 14px;
    color: #333;

    border-bottom: 1px solid #e5e5e5;
}

.footer__social-header b {
    font-size: 18px;
}

a   {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.footer__social-content {
    padding-top: 15px;

    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

.footer__social-content a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;

    font-size: 18px;
    color: #95e1d3;
}

.footer__title {
    margin: 30px 0;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}


.footer_nav{
text-align: center;
}


/* Blogs */
.blogs__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.blogs__img {
    width: 120px;
    height: 80px;
}

.blogs__content {
    padding-left: 20px;
}

.blogs__title {
    display: block;
    margin-bottom: 5px;

    color: #333;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    text-decoration: none;
}

.blogs__title:hover {
    text-decoration: underline;
}

.blogs__date {
    font-size: 13px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}


/* Instagram */
.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.instagram__item {
    width: 33%;
    border-bottom: 1px solid #fff;
}

.instagram__item img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Subscribe */
.subscribe {
    width: 100%;
    max-width: 380px;
    display: flex;
}

.subscribe__input {
    width: 60%;
    height: 40px;
    padding: 12px;

    background: #fff;
    border: 1px solid #e7e7e7;
    border-right: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.1;
    color: #333;
    font-style: italic;
    font-weight: 300;
}

.subscribe__input::placeholder {
    color: #ccc;
}

.subscribe__input:focus {
    outline: 0;
    border-color: #95e1d3;
}

.subscribe__btn {
    width: 40%;
    height: 40px;
    padding: 12px 30px;

    background-color: #95e1d3;
    border: 0;
    cursor: pointer;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

    transition: background .2s linear;
}

.subscribe__btn:hover {
    background-color: #74c7b8;
}

.subscribe__btn:focus {
    outline: 0;
}


/* Copyright */
.copyright {
    padding: 20px 0;

    border-top: 1px solid #e5e5e5;

    font-size: 14px;
    color: #333;
    text-align: center;
}

.copyright span {
    color: #f38181;
}




@media (max-width: 1230px) {

    /* Intro */
    .intro__suptitle {
        font-size: 52px;
    }

    .intro__title {
        font-size: 120px;
    }

    /* Reviews */
    .reviews__text {
        font-size: 20px;
    }
}

@media (max-width: 990px) {


    /* Intro */
    .intro__suptitle {
        font-size: 32px;
    }

    .intro__title {
        font-size: 80px;
    }

    /* Stat */
    .stat {
       justify-content: center;
    }

    .stat__item {
        flex: none;
        width: 33.33333%;
        padding-top: 30px;
        padding-bottom: 30px;

        border: 0;
    }

    .stat__item:last-child {
        border-right: 0;
    }

    /* Services */
    .services__item {
        width: 50%;
        padding-bottom: 0;
    }

    .services__item--border {
        border-bottom: 0;
    }

    /* Reviews */
    .reviews .slick-slider {
        padding: 0 60px;
    }

    .reviews__photo {
        width: 150px;
        height: 150px;
    }

    .reviews__item {
        padding-left: 175px;
    }

    /* Clients */
    .clients {
        max-width: 600px;
        margin: 0 auto;
    }

    .clients__item {
        width: 100%;
        padding-right: 0;
    }

    .clients__item:last-child {
        margin-bottom: 0;
    }


    /* Footer */
    .footer__col--first {
        width: 100%;
    }

    .footer__col--second,
    .footer__col--third {
        width: 50%;
    }

    /* Instagram */
    .instagram {
        justify-content: flex-start;
    }

    .instagram__item {
        width: auto;
        border-right: 1px solid white;
    }
}

@media (max-width: 770px) {

    /* Intro */
    .intro {
        min-height: 650px;
    }


    /* Header */
    .header {
        padding: 10px 0;
    }

    /* Nav */
    .nav {
        display: none;
        width: 100%;

        position: absolute;
        top: 100%;
        left: 0;

        background-color: #b1ecee;
    }

    .nav.active {
        display: block;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }

    .nav-toggle {
        display: block;
    }


    /* Section */
    .section {
        padding: 40px 0;
    }

    .section--devices {
        padding-bottom: 0;
    }

.maps{
    width: 100%;
}
    /* Card */
    .card {
        margin-top: 50px;
        justify-content: center;
    }

    .card__item {
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
    }

    .card__item:last-child {
        margin-bottom: 0;
    }


    /* Slider */
    .slider__text {
        display: none;
    }

    .slider__item.active:before {
        width: 50%;
    }

    /* Services */
    .services {
        justify-content: center;
    }

    .services__item {
        width: 100%;
        max-width: 400px;
        
        padding-right: 0;
    }

    .services__icon {
        left: 0;
    }


    /* Wedo */
  
    .img_y {
        display: block;
        max-width: 100%;
        height:auto;
    }

    .maps__item {
        width: 100%;
    }

    /* Reviews */
    .reviews__photo {
        position: static;
        margin: 0 auto 20px;
    }

    .reviews__item {
        padding-left: 0;
    }

    .reviews__text {
        font-size: 16px;
    }

    .reviews__author {
        font-size: 20px;
    }

    /* Works */
    .works {
        flex-wrap: wrap;
    }

    .works__col {
        flex: none;
        width: 50%;
    }

    /* Blog */
    .blog {
        max-width: 380px;
        margin: 0 auto;
    }

    .blog__item {
        width: 100%;
        margin-bottom: 30px;
    }

    .blog__item:last-child {
        margin-bottom: 0;
    }


    /* Footer */
    .footer__col--second,
    .footer__col--third {
        width: 100%;
    }
}


@media (max-width: 575px) {
    #active{ /*расположение блока с переключателями*/
        margin: 5px 0 0;
        text-align: center;
    }


    #active2{ /*расположение блока с переключателями*/
        margin: 5px 0 0;
        text-align: center;
    }

    #active3{ /*расположение блока с переключателями*/
        margin: 5px 0 0;
        text-align: center;
    }
    #active4{ /*расположение блока с переключателями*/
        margin: 5px 0 0;
        text-align: center;
    }

    #active5{ /*расположение блока с переключателями*/
        margin: 5px 0 0;
        text-align: center;
    }

    #active6{ /*расположение блока с переключателями*/
        margin: 5px 0 0;
        text-align: center;
    }

    #active7{ /*расположение блока с переключателями*/
        margin: 5px 0 0;
        text-align: center;
    }
    /* Intro */
    .intro__suptitle {
        font-size: 22px;
    }

    .intro__title {
        font-size: 40px;
    }

    /* Section */
    .section__header {
       
    }

    .section__suptitle {
        font-size: 20px;
    }

    .section__title {
        font-size: 24px;
    }

    .section__title:after {
        margin: 20px auto;
    }

    /* Stat */
    .stat__item {
        width: 100%;

        border-bottom: 1px solid #b5eae0;
    }

    .stat__item:last-child {
        border-bottom: 0;
    }

    .stat__count {
        font-size: 52px;
    }


.you{
    padding: 0;
    align-items: center;  
}


    /* Reviews */
    .reviews .slick-slider {
        padding: 0;
    }

    .slick-arrow {
        top: 18%;
    }

    /* Logos */
    .logos {
        flex-wrap: wrap;
        justify-content: center;
    }

    .logos__item {
        width: 50%;
        margin-bottom: 20px;
    }

    .logos__img {
        margin: 0 auto;
    }

    /* Works */
    .works__col {
        width: 100%;
    }


    /* Clients */
    .clients__photo {
        position: static;
    }

    .clients__item {
        padding-left: 0;
        text-align: center;
    }

    .clients__text:before {
        margin: 15px auto;
    }


    /* Blogs */
    .blogs__img {
        width: 80px;
        height: 50px;
    }

    .blogs__title {
        font-size: 10px;
    }

    /* Subscribe */
    .subscribe {
        flex-wrap: wrap;
        max-width: none;
    }

    .subscribe__input {
        margin-bottom: 10px;
        border-right: 1px solid #e7e7e7;
    }

    .subscribe__input,
    .subscribe__btn {
        width: 100%;
    }

}
